@model List<EducationPlatform.Models.Course>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="container">
    <div class="row">
        @foreach (var course in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@course.ImageUrl" class="card-img-top" alt="@course.Title">
                    <div class="card-body">
                        <h5 class="card-title">@course.Title</h5>
                        <p class="card-text">@course.Price ₴</p>
                        <a asp-controller="Home" asp-action="CourseDetails" asp-route-id="@course.Id" class="btn btn-primary">
                            Детальніше
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
